In [4]:
import pandas as pd
df = pd.read_csv('C://Users/Uldum/Desktop/NiFi/jkjk')

In [5]:
df

   ACCOUNT_ID           CURRENT_DATE  ACCOUNT_BALANCE
0           1  2023-06-01 03:48:00.0            -1000
1           2  2023-06-01 03:48:00.0             1000

In [6]:
df=df[df['ACCOUNT_BALANCE']<0]

In [7]:
df

   ACCOUNT_ID           CURRENT_DATE  ACCOUNT_BALANCE
0           1  2023-06-01 03:48:00.0            -1000